<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/layout :: head('Ticket · Nuevo')}"></head>
    <body class="d-flex flex-column min-vh-100">
        <nav th:replace="~{general/layout :: navbar}"></nav>

        <main th:replace="~{soporte/fragmentos :: nuevo}"></main>

        <footer th:replace="~{general/layout :: footer}"></footer>
        <div th:replace="~{general/layout :: scripts}"></div>

    </body>
</html>