<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">    
    <head th:fragment="head(titulo)">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="${titulo}">Tienda de Perfumes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/7.0.0/css/all.min.css}" rel="stylesheet"/>
        <script th:src="@{/js/rutinas.js}"></script>

        <link rel="icon" type="image/png" sizes="16x16" href="/fav/icon_16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/icon_32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/fav/icon96x96.png"/>
        <link rel="icon" type="image/png" sizes="256x256" href="/fav/icon_256x256.png"/>

        <style>
            .brand-dot{
                display:inline-block;
                width:.6rem;
                height:.6rem;
                border-radius:999px;
                background:#0d6efd;
                margin-right:.5rem;
                vertical-align:middle
            }
            .muted{
                color: #6c757d
            }
        </style>
    </head>

    <body  class="d-flex flex-column min-vh-100">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-black border-bottom">
            <div class="container">
                <a class="navbar-brand fw-normal text-warning" href="/">
                    <img src="/fav/logo_64x64-cropped.ico" alt="Home Icon" class="icon">
                        FRAGRANCE AURA
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Abrir menú">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navMain">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/producto/listado">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('ROLE_VENDEDOR')" href="/categoria/listado">Categorías</a></li>
                        <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('ROLE_VENDEDOR')" href="/pedido/listado">Pedidos</a></li>
                        <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('ROLE_VENDEDOR')" href="/factura/listado">Facturas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ticket/listado">Soporte</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/cuenta}">Mi cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tienda/listado">Contacto</a></li>
                    </ul>

                    <div class="d-flex gap-2">

                        <!-- boton de carrito -->
                        <a class="btn btn-outline-light btn-sm position-relative" th:href="@{/producto/carrito}" sec:authorize="hasRole('ROLE_USUARIO')">
                            <i class="fa-solid fa-cart-plus"></i>Carrito
                            <!-- para mostrar un icono de cuantos items en carrito-->
                            <span th:if="${cartCount > 0}"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                  th:text="${cartCount}">
                                0
                            </span>
                        </a>

                        <!--Boton dropdown de menus de admin -->
                        <div class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">



                            <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" th:href="@{/usuario/listado}">
                                        <i class="fa-solid fa-angle-right me-2"></i>Usuarios
                                    </a>

                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/pedido/listado}">
                                        <i class="fa-solid fa-angle-right me-2"></i>Ventas y pedidos
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- SI NO ESTOY LOGUEADO -->
                        <div sec:authorize="isAnonymous()">
                            <a class="btn btn-outline-light btn-sm" href="/login">Ingresar</a>
                        </div>
                        <!-- 🔐 LOGGED IN -->
                        <div sec:authorize="isAuthenticated()" class="d-flex gap-2 align-items-center">


                            <!-- Username -->
                            <span class="text-light small">
                                Hola, <span sec:authentication="name"></span>
                            </span>
                            <!-- Logout -->
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-outline-danger btn-sm" type="submit">Salir</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </nav>

        <footer  th:fragment="footer" class="footer-perfumeria mt-5">
            <div class="container py-4">
                <div class="row text-center text-md-start">

                    <!-- Información -->
                    <div class="col-md-4 mb-3">
                        <h6 class="footer-title">Perfumería</h6>
                        <p class="small">© 2026 Perfumería</p>
                    </div>

                    <!-- Contacto -->
                    <div class="col-md-4 mb-3">
                        <h6 class="footer-title">Contacto</h6>
                        <p class="small">
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:perfumeria1920@gmail.com">perfumeria1920@gmail.com</a>
                        </p>
                        <p class="small">
                            <i class="bi bi-telephone"></i> +506 8888-8888
                        </p>
                    </div>

                    <!-- Redes -->
                    <div class="col-md-4 mb-3">
                        <h6 class="footer-title">Síguenos</h6>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-facebook"></i> Facebook</a>
                            <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
                            <a href="#"><i class="bi bi-whatsapp"></i> WhatsApp</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>


        <div th:fragment="scripts">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        </div>
    </body>
</html>

