body{
    background-color:#ffffff;
    font-family:'Inter', sans-serif;
    color:#111;
}

.navbar{
    background-color:#000;
    padding:12px 0;
}

.navbar-brand{
    font-family:'Cormorant Garamond', serif;
    font-weight:600;
    letter-spacing:2px;
    color:#d4af37;
    font-size:20px;
}

.navbar .nav-link{
    color:white
}

.navbar .nav-link:hover{
    color:#d4af37
}

.navbar i{
    color: #000;
}
.navbar-brand{
    color:#d4af37;
    font-weight:600;
    letter-spacing:1px;
}
.btn-primary{
    background-color:black;
    border-color:black;
    color:white;
}

.btn-primary:hover{
    background-color:#d4af37;
    border-color:#d4af37;
    color:black;
}

.btn-limpiar{
    background-color:black;
    border-color:black;
    color:white;
}

.btn-limpiar:hover{
    background-color:#d4af37;
    border-color:#d4af37;
    color:black;
}

.btn-limpiar:focus,
.btn-limpiar:active{
    background-color: #d4af37;
    color: black;
}

.btn-aplicar{
    background-color:black;
    border-color:black;
    color:white;
}

.btn-aplicar:hover{
    background-color:#d4af37;
    border-color:#d4af37;
    color:black;
}

.btn-aplicar:focus,
.btn-aplicar:active{
    background-color: #d4af37;
    color: black;
}

html, body {
    height: 100%;
    margin: 0;
}


.portada {
    height: 100vh;
    background: url('/img/perfume.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 0;
}

.portada::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.portada-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 100px;
}

.portada-content {
    color: white;
    max-width: 400px;
}

.portada-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #d4af37;
}

.portada-content p {
    margin: 20px 0;
}

/*siguientes 3 para que el icono de carrito sea blanco y se pase a negro con hover*/
.btn-outline-light .fa-cart-plus {
    color: white;
}

.btn-outline-light:hover {
    background-color: white !important;
    color: black !important;
}

.btn-outline-light:hover .fa-cart-plus {
    color: black;
}


/*modal popups color del header*/
.modal-bg{
    background-color: #343a40 !important;
}




.footer-perfumeria {
    background-color: #000; 
    color: #ccc;
    border-top: 1px solid #c9a14a; 
}

.footer-title {
    color: #c9a14a; 
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-perfumeria a {
    color: #fff;
    text-decoration: none;
}

.footer-perfumeria a:hover {
    color: #c9a14a;
}

.social-icons a {
    display: block;
    margin-bottom: 5px;
    transition: 0.3s;
}

.social-icons i {
    margin-right: 8px;
    color: #c9a14a;
}

.social-icons a:hover i {
    color: #fff;
}

