body{
    background-color:#ffffff;
    font-family:'Inter', sans-serif;
    color:#111;
}

.navbar{
    background-color:#000;
    padding:12px 0;
}

.navbar-brand{
    font-family:'Cormorant Garamond', serif;
    font-weight:600;
    letter-spacing:2px;
    color:#d4af37;
    font-size:20px;
}

.navbar .nav-link{
    color:white
}

.navbar .nav-link:hover{
    color:#d4af37
}

.navbar i{
    color: #000;
}
.navbar-brand{
    color:#d4af37;
    font-weight:600;
    letter-spacing:1px;
}
.btn-primary{
    background-color:black;
    border-color:black;
    color:white;
}

.btn-primary:hover{
    background-color:#d4af37;
    border-color:#d4af37;
    color:black;
}

.footer-perfumeria {
    background-color: #000; 
    color: #ccc;
    border-top: 1px solid #c9a14a; 
}

.footer-title {
    color: #c9a14a; 
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-perfumeria a {
    color: #fff;
    text-decoration: none;
}

.footer-perfumeria a:hover {
    color: #c9a14a;
}

.social-icons a {
    display: block;
    margin-bottom: 5px;
    transition: 0.3s;
}

.social-icons i {
    margin-right: 8px;
    color: #c9a14a;
}

.social-icons a:hover i {
    color: #fff;
}