<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/layout :: head('Inicio')}"></head>
    <body>
        <nav th:replace="~{general/layout :: navbar}"></nav>

        <main class="portada">
            <div class="portada-overlay">
                <div class="portada-content">
                    <h1>FRAGRANCE AURA</h1>
                    <p>
                        Conoce nuestro catálogo de perfumes originales.
                        Descubre fragancias exclusivas.
                    </p>
                    <a class="nav-link" th:href="@{/producto/listado}">CATÁLOGO</a>  
                    </a>
                </div>
            </div>
        </main>

        <footer th:replace="~{general/layout :: footer}"></footer>
        <div th:replace="~{general/layout :: scripts}"></div>
    </body>
</html>
