<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/layout :: head('Pedido · Creado')}"></head>
    <body>
        <nav th:replace="~{general/layout :: navbar}"></nav>


        <h1>Pedido creado con exito</h1>

        <button type="button" class="btn btn-primary" th:href="@{/cuenta}">
            <i class="fa-solid fa-plus"></i> [[#{pedido.listado}]]</button>

        <footer th:replace="~{general/layout :: footer}"></footer>
        <div th:replace="~{general/layout :: scripts}"></div>
    </body>

</html>